{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="create-post">
        <form method="POST" action="{% url 'create_post' %}">
            {% csrf_token %}
            <a href="/profile/{{ request.user.id }}">
                {% if request.user.username == "ricky" %}
                <img src="{% static 'images/ricky.png' %}" width="40px" height="40px" class="navigation__icon">
                {% else %}
                <img src="{% static 'images/bubbles.png' %}" width="40px" height="40px" class="navigation__icon">
                {% endif %}
            </a>
            <div class="posts">
                <textarea id="post-textarea" class="create-post__text" cols="50" maxlength="280" placeholder="What is happening?!" name="text"></textarea>
                <button class="create-post__button">Post</button>
            </div>
        </form>
    </div>

    <div class="posts-feed">
			{% for post in posts %}
			<a href="{% url 'post_detail' post.id%}">
                <div class="post">
                    <div >
                        {% if post.user.username == "ricky" %}
                            <img src="{% static 'images/ricky.png' %}" width="40px" height="40px" class="navigation__icon">
                        {% else %}
                            <img src="{% static 'images/bubbles.png' %}" width="40px" height="40px" class="navigation__icon">
                        {% endif %}
                    </div>
                    <div>
                        <div class="post__information">
                            <strong class="username" data-user-id="{{ post.user.id }}">{{ post.user.username }}</strong>
                            <p class="date">{{ post.created_at }}</p>
                        </div>
                        <p>{{ post.text | linebreaksbr }}</p>
                    </div>
                </div>
			</a>
			{% endfor %}
    </div>

    <script src="{% static 'js/textArea.js' %}"></script>
    <script src="{% static 'js/username.js' %}"></script>
{% endblock %}
