{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="post-detail">
    <div class="post-detail__information">
        <div class="post-detail__container">
            <div>
                {% if post.user.username == "ricky" %}
                    <img src="{% static 'images/ricky.png' %}" width="40px" height="40px" class="navigation__icon">
                {% else %}
                    <img src="{% static 'images/bubbles.png' %}" width="40px" height="40px" class="navigation__icon">
                {% endif %}
            </div>
            <div>
                <div class="post__information">
                    <a href="/profile/{{ post.user.id }}">
                        <strong class="username" data-user-id="{{ post.user.id }}">{{ post.user.username }}</strong>
                    </a>
                    <p class="date">{{ post.created_at }}</p>
                </div>
                <p>{{ post.text | linebreaksbr }}</p>
            </div>
        </div>
    </div>

    <div class="add-comment">

        <form method="POST" action="{% url 'post_detail' post.id%}">
            {% csrf_token %}
            <div class="add-comment__content">
                <div class="add-comment__user">
                {% if request.session.username == "ricky" %}
                    <img src="{% static 'images/ricky.png' %}" width="40px" height="40px" class="navigation__icon">
                {% else %}
                    <img src="{% static 'images/bubbles.png' %}" width="40px" height="40px" class="navigation__icon">
                {% endif %}
                <textarea id="post-textarea" class="create-post__text" cols="50" maxlength="280" placeholder="Post your reply" name="comment_text"></textarea>
                </div>
                <button type="submit" class="create-post__button">Reply</button>
            </div>
        </form>
        {% if messages %}
        <div class="modal__messages">
          {% for message in messages %}
            {% if 'login' in message.tags %}
              <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="comments">
        {% for comment in comments %}
        <div class="post">
            <div >
                {% if comment.user.username == "ricky" %}
                    <img src="{% static 'images/ricky.png' %}" width="40px" height="40px" class="navigation__icon">
                {% else %}
                    <img src="{% static 'images/bubbles.png' %}" width="40px" height="40px" class="navigation__icon">
                {% endif %}
            </div>
            <div>
                <div class="post__information">
                    <a href="/profile/{{ comment.user.id}}">
                        <strong class="username">{{ comment.user.username }}</strong>
                    </a>
                    <p class="date">{{ comment.created_at }}</p>
                </div>
                <p>{{ comment.comment_text | linebreaksbr }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    const textarea = document.getElementById('post-textarea');

    function adjustTextareaHeight() {
        textarea.style.height = 'auto';

        textarea.style.height = textarea.scrollHeight + 'px';
    }

    textarea.addEventListener('input', adjustTextareaHeight);

    adjustTextareaHeight();

            const usernames = document.querySelectorAll('.username');

            usernames.forEach(username => {
                    username.addEventListener('click', function(event) {
                            event.preventDefault();

                            const userId = this.getAttribute('data-user-id');

                            window.location.href = `/profile/${userId}`;
                    });
            });
</script>
{% endblock %}

