{% extends 'base.html' %}

{% block content %}
{% load static %}
    <h1 class="profile-header">Posts</h1>
    <div class="posts-feed">
        {% for post in posts %}

        {% if post.user.id == request.user.id %}
        <div class="delete-container">
					<form action="{% url 'remove_post' post.id %}" method="POST" style="display:inline;">
							{% csrf_token %}
							<button type="submit" class="delete-container__btn">Delete</button>
					</form>
        </div>
        {% endif %}
        <a href="{% url 'post_detail' post.id %}">
            <div class="post">
                <div>
                    {% if post.user.username == "ricky" %}
                        <img src="{% static 'images/ricky.png' %}" width="40px" height="40px" class="navigation__icon">
                    {% else %}
                        <img src="{% static 'images/bubbles.png' %}" width="40px" height="40px" class="navigation__icon">
                    {% endif %}
                </div>
                <div>
                    <div class="post__information">
                        <strong class="username" data-user-id="{{ post.user.id }}">{{ post.user.username }}</strong>
                        <p class="date">{{ post.created_at }}</p>
                    </div>
                    <p>{{ post.text | linebreaksbr }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    
{% endblock %}