:root {
  --black: rgb(0, 0, 0);
  --white: rgb(231, 233, 234);
  --blue: rgb(29, 155, 240);
  --red: rgb(244, 33, 46);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  width: 80rem;
  height: 100vh;
  margin-left: 3rem;
  margin-right: 3rem;
}

.navigation {
  width: 250px;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.navigation__list {
  list-style: none;
  padding-left: 0;
}

.navigation__item {
  margin-bottom: 15px;
}

#bird {
  display: inline-flex !important;
}

.navigation__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 999px;
  transition: background-color 0.3s;
}


.navigation__link:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.navigation__icon {
  margin-right: 10px;
}

.navigation__post {
  display: block;
  padding: 1rem;
  background-color: var(--blue);
  border: none;
  border-radius: 999px;
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.navigation__post:hover {
  background-color: rgb(25, 119, 182);
}

.navigation__user {
  display: flex;
  align-items: center; /* Align items vertically centered */
  justify-content: space-between; /* Distribute space between items */
  margin-top: 3.5rem;
  cursor: pointer;
  padding: 10px;
}

.navigation__user:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
}

.navigation__dots {
  font-size: 1.25rem !important;
  padding-bottom: 0.5rem !important;
}

.navigation__picture-username {
  display: flex;
  align-items: center;
}

.feed {
  width: 600px;
  overflow-x: clip;
  position: relative;
  margin: 0 auto;
}

.feed-button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  color: var(--white);
  font-size: 1.1rem;
  cursor: pointer;
}

.feed-button.active {
  border-bottom: 3px solid var(--blue);
  font-weight: bold;
}

.feed-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.feed .post {
  color: var(--black);
  border-bottom: 1px solid rgb(47, 51, 54);
  padding: 15px;
  color: var(--white);
}

.posts-feed {
  border: 1px solid rgb(47, 51, 54);
}

.posts-feed a {
  text-decoration: none;
}

.post {
  padding: 10px;
  width: 100%; 
  max-width: 600px; 
  word-wrap: break-word; 
}

.post:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.date {
  color: rgb(113, 118, 123);
}
/* feed */

.create-post__text {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none; 
  background: none;
  color: inherit;
  font: inherit;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.create-post__text:focus {
  border-bottom: 1px solid rgb(47, 51, 54);
}

.create-post form {
  display: flex;
  border: 1px solid rgb(47, 51, 54);
  border-bottom: none;
  padding: 1rem 1rem;
}


/* Popup styles */
.popup {
  display: none;
  position: fixed;
  backface-visibility: hidden;
  background-color: var(--black);
  box-shadow: var(--white) 0px 0px 5px 0px, var(--white) 0px 0px 1px 0px;
  border-radius: 20px;
  padding: 12px 0;
  width: 300px;
  top: 23%;
}

.popup__arrow {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--black);
  filter: drop-shadow(rgb(51, 54, 57) 1px 1px 1px);
}

.popup__content {
  padding: 1rem;
}

.popup__content:hover {
  background-color: rgb(47, 51, 54);
  border-radius: 6px;
}

.popup__link {
  font: inherit;
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
}

.create-post__button {
  color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	flex-direction: column;
	height: 2.5rem;
	border-radius: 1.2rem;
	background-color: var(--blue);
	font-weight: bold;
  width: 66px;
  height: 36px;
  font-size: 15px;
}

.create-post__button:hover {
  background-color: rgb(25, 119, 182);
}

.create-post__text {
  width: 100%;
  min-height: 50px; 
  overflow: hidden;
  resize: none; 
}

        
.post__information {
  display: flex;
  padding-bottom: 1rem;
}

.post__information strong {
  padding-right: 0.5rem;
}

.post__information a {
  color: inherit;
}

.post__information a:hover {
  text-decoration: underline;
}

.username {
  cursor: pointer;
  text-decoration: none; 
}

.username:hover {
  text-decoration: underline;
}



.comments__comment {
  padding: 10px;
  width: 100%; 
  max-width: 600px; 
  word-wrap: break-word; 
  color: var(--black);
  border-bottom: 1px solid rgb(47, 51, 54);
  padding: 15px;
  color: var(--white);
}

.post-detail {
  border-left: 1px solid rgb(47, 51, 54);
  border-right: 1px solid rgb(47, 51, 54);
}

.add-comment {
  padding: 15px;
  border-bottom: 1px solid rgb(47, 51, 54);
}

.post-detail__information {
  padding: 15px;
  
}

.testi {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.comments__information {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.navigation__list .navigation__item:first-child .navigation__link:hover {
  background-color: transparent;
}

.delete-container {
  position: absolute;
  right: 0;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.delete-container__btn {
  color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	flex-direction: column;
	height: 2.5rem;
	border-radius: 999px;
	background-color: var(--red);
	font-weight: 500;
  width: 66px;
  height: 36px;
  font-size: 15px;
}

.delete-container__btn:hover {
  background-color: #8B0000;
}

.profile-header {
  padding-bottom: 1rem;
}